OCI_HOME={{ instantclient_path }}
OCI_LIB_DIR={{ instantclient_path }}
OCI_INC_DIR={{ oracle_include_path }}
OCI_INCLUDE_DIR={{ oracle_include_path }}

export OCI_HOME
export OCI_LIB_DIR
export OCI_INC_DIR
export OCI_INCLUDE_DIR
